<div class="home">
  <section class="hero">
    <div class="hero-left">
      <h1>
        Controle de qualidade
        <span>simples, moderno e confiável.</span>
      </h1>

      <p>
        Plataforma para inspeções, rastreabilidade, monitoramento operacional e gestão de processos
        de qualidade.
      </p>

      <div class="hero-actions">
        <a class="btn btn-primary btn-lg" [routerLink]="['/login']">
          <i class="bi bi-building-lock"></i>

          Área Administrativa
        </a>

        <a class="btn btn-outline-primary btn-lg" [routerLink]="['/inspetor']">
          <i class="bi bi-person-badge"></i>

          Área Inspetor
        </a>
      </div>
    </div>

    <div class="hero-right">
      <div class="glass-card">
        <div class="logo">
          <i class="bi bi-shield-check"></i>
        </div>

        <h2>PIRAHY</h2>

        <p>Sistema de Controle de Qualidade</p>

        <div class="status">
          <span></span>

          Online
        </div>
      </div>
    </div>
  </section>
</div>
